.carousel-container {
    display: flex;
    justify-content: center;
}

.carousel {
    display: flex;
    gap: 0.5rem;
    width: 90vw;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    padding-bottom: 1rem;
}

.carousel::-webkit-scrollbar {
    height: 8px;
}

.carousel::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
}

.carousel::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.carousel::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.card {
    height: 450px;
    flex: 0 0 290px;
    scroll-snap-align: start;
}

.card img {
    width: 100%;
    height: 390px;
    object-fit: cover;
    background-color: #e0e0e0;
}
