.header-newsletter {
  font-family: "Inter", sans-serif;
  font-size: var(--size-small);
  justify-content: center;
  align-items: center;
  display: flex;
}
.header-newsletter a {
  color: black;
}

.site-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  height: 4rem;
  padding: 0 1.25rem;
}
.header-logo {
  display: flex;
  flex: 1 0 10rem;
  font-family: var(--font-logo);
  text-decoration: none;
  color: black;
  font-size: 1.25rem;
  align-items: center;
  justify-content: center;
}

.search-bar,
.side-nav-menu-container,
.profile-page,
.shopping-cart {
  height: 2rem;
  width: 2rem;
}

/* @media screen and (min-width: 1024px) {
  .site-header {
    background-color: 0;
  }
  body {
    background: aqua;
  }
} */
