.header-newsletter {
  font-family: "Inter", sans-serif;
  font-size: var(--size-small);
  justify-content: center;
  display: flex;
}
.header-newsletter a {
  color: black;
}

.site-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 8px;
  height: 4rem;
}
.header-logo {
  font-family: var(--font-logo);
  text-decoration: none;
  color: black;
  padding: 1rem 3.75rem;
  font-size: 1.25rem;
}

.search-bar,
.side-bar-menu-container,
.profile-page,
.shopping-cart {
  height: 2rem;
  width: 2rem;
}

@media screen and (min-width: 768px) {
  .header-logo {
    padding: 1rem 12rem;
  }
}
