.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  padding: 0 20px;
}

.hero video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero #video-dskt {
  display: none;
}

.hero-text-content {
  position: relative;
  color: var(--color-white);
  font-family: var(--font-mono);
  font-size: var(--size-ingress-mb);
  font-weight: 400;
}

.hero-text-content h1 {
  font-family: var(--font-body);
  font-size: var(--size-h1-mb);
  font-weight: var(--weight-bold);
  mix-blend-mode: difference;
  color: var(--color-white);
  margin-bottom: 3.2rem;
  text-align: center;
  max-width: 353px;
}

.hero-text-content p {
  max-width: 345px;
  margin: 0 auto;
  margin-bottom: 3.2rem;
}
.hero-text-content .icon {
  color: var(--color-white);
}
.hero-text-content button {
  background-color: var(--color-orange);
  padding: 10px 16px;
  margin: 0 auto;
  color: var(--color-white);
  height: 43px;
  font-size: var(--size-body);
  font-family: var(--font-mono);
  letter-spacing: 0.36px;
  border: none;
}

@media screen and (min-width: 1024px) {
  .hero #video-mb {
    display: none;
  }
  .hero #video-dskt {
    display: block;
  }
  .hero-text-content {
    font-size: var(--size-ingress);
  }
  .hero-text-content p {
    max-width: 890px;
  }
  .hero-text-content h1 {
    font-size: var(--size-h1);
    margin-bottom: 3.5rem;
    max-width: 1220px;
  }
}
