@import url("footer.css");
@import url("hero.css");
@import url("root.css");
@import url("header.css");

* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin:0;
}
html {
  font-size: 62.5%;
}
