@import url("footer.css");
@import url("hero.css");
@import url("root.css");
@import url("header.css");
@import url("side-nav.css");
@import url("language-change.css");
@import url("product-display.css");
@import url("button-animation.css");
@import url("our-technology.css");
@import url("carousel.css");
@import url("media.css");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  padding: 0;
  margin: 0;
  background-color: var(--color-white);
}
html {
  font-size: 16px;
}
