@import url("footer.css");
@import url("hero.css");
@import url("root.css");
@import url("header.css");

* {
  box-sizing: border-box;
}
body {
  padding: 0;
  background: var(--color-white);
}
html {
  font-size: 16px;
}
