@import url("footer.css");
@import url("hero.css");
@import url("root.css");
@import url("header.css");
@import url("side-nav.css");
@import url("language-change.css");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  height: 100%;
  background: var(--color-white);
}
html {
  font-size: 16px;
}
