.our-technology {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.our-technology::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
      0deg,
      rgba(250, 250, 250, 0.28) 0%,
      rgba(250, 250, 250, 0.28) 100%
    ),
    url("../assets/icons/images/bottle-filter.jpg") lightgray -338.733px 0px / 311.705%
      100% no-repeat;
  z-index: 0;
}

.technology-text-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  text-align: center;
}

.technology-text-content p {
  font-size: 32px;
  color: var(--color-grey-dark);
  font-family: var(--font-thunder);
  font-weight: 600;
  line-height: 100%;
}
.technology-text-content p:last-of-type {
  padding-bottom: 30px;
}
.technology-text-content h2 {
  font-size: var(--size-h2-mb);
  font-family: var(--font-thunder);
  font-weight: 700;
  display: flex;
  justify-content: center;
  gap: 7px;
  padding: 0;
}
.desktop-break {
  display: none;
}
.technology-text-content .hightlight-red {
  color: var(--color-orange);
}
.technology-text-content button {
  padding: 10px 16px;
  border: 1px solid var(--color-orange);
  margin-top: 2rem;
  font-size: var(--size-ingress-mb);
  background-color: transparent;
  color: var(--color-orange);
  font-size: var(--font-size-body);
  font-family: var(--font-mono);
  letter-spacing: 0.36px;
}

@media screen and (min-width: 1024px) {
  .our-technology {
    flex-direction: row;
    margin: 200px 0 100px 0;
    height: 558px;
    position: relative;
    align-items: flex-end;
  }
  .our-technology::before {
    display: none;
  }
  .technology-text-content {
    width: 796px;
    height: 700px;
    padding: 100px 60px 0 60px;
    justify-content: flex-end;
    margin-right: -160px;
    z-index: 2;
    text-align: left;
  }
  .desktop-break {
    display: block;
  }
  .right-align {
    text-align: right;
    align-self: flex-end;
  }

  .left-align {
    text-align: left;
  }

  .image-side {
    flex: 1;
    height: 100%;
    background: url("../assets/icons/images//bottle-filter.jpg") center 35% /
      cover no-repeat;
  }

  .technology-text-content p {
    color: var(--color-grey);
    font-size: 4rem;
    width: 676px;
    padding: 0;
  }
  .technology-text-content button {
    margin-top: 50px;
    font-size: var(--font-size-body);
    letter-spacing: 0.36px;
  }
  .technology-text-content button .icon {
    color: var(--color-orange);
  }

  .technology-text-content h2 {
    font-size: 5rem;
    width: 647px;
    text-align: right;
    padding-right: 10px;
  }
}
