.product-display {
  margin-top: 50px;
}

.product-display .top-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 1.25rem;
}

.product-display .top-content h2 {
  font-family: var(--font-thunder);
  font-size: var(--size-h2-mb);
}

.filter-buttons {
  display: flex;
  align-items: center;
  align-self: stretch;
  font-family: var(--font-mono);
  letter-spacing: 0.32px;
  font-weight: 500;
}

.filter-buttons .btn {
  display: flex;
  padding: 6px 16px;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-black);
  background: var(--color-white);
  cursor: pointer;
}
.filter-buttons .btn.active {
  background: var(--color-orange);
}
.product-carousel {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #e7e7e7;
}

.product-card {
  width: 100%;
  position: relative;
  max-width: 450px;
  overflow: hidden;
  max-width: 393px;
  margin: 0 auto;
}
.jacket-slider {
  display: flex;
  transition: transform 0.4s ease-in-out;
  transform: translateX(0);
}
.slide {
  min-width: 100%;
  height: 600px;
  display: flex;
  transition: transform 0.5s ease-in-out;
  justify-content: center;
  align-items: center;
}
.slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.prev,
.next {
  position: absolute;
  top: 50%;
  border: none;
  background: transparent;
  width: 33px;
  height: 33px;
  cursor: pointer;
}
.prev {
  transform: rotate(90deg);
  left: 10px;
}
.next {
  transform: rotate(270deg);
  right: 10px;
}

@media screen and (min-width: 1024px) {
  .product-display {
    margin-top: 100px;
  }
  .product-display .top-content h2 {
    font-size: var(--size-h2);
  }
  .product-display .top-content {
    justify-content: space-between;
    flex-direction: row;
    gap: 0;
    padding: 0 3.75rem;
  }
}
