.side-nav-menu-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  height: 100vh;
  width: 0;

  overflow-x: hidden;
  transition: width 0.4s ease;
}

.side-nav-menu-container a {
  font-family: var(--font-mono);
  padding: 1.5rem 1.125rem;
  text-decoration: none;
  color: var(--color-black);
  font-weight: var(--weight-medium);
  border-top: 1px solid var(--color-grey);
}

.side-nav-menu-container.open {
  width: 100vw;
}

.side-nav-menu-container .closebtn {
  display: none;
}
